################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/test_images/cars
/test_images/vehicles_smallset
/test_images/vehicles_smallset
/test_images/vehicles_smallset/cars1
/test_images/vehicles_smallset/cars2
/test_images/vehicles_smallset/cars3
/test_images/vehicles_smallset/notcars1
/test_images/vehicles_smallset/notcars2
/test_images/vehicles_smallset/notcars3
