################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/test_images/cars
/test_images/vehicles_smallset
/test_images/vehicles_smallset
/test_images/vehicles_smallset/cars1
/test_images/vehicles_smallset/cars2
/test_images/vehicles_smallset/cars3
/test_images/vehicles_smallset/notcars1
/test_images/vehicles_smallset/notcars2
/test_images/vehicles_smallset/notcars3
/output_images/1
/output_images/2
/output_images/3
/clone.png
/heatmap.png
/heatmap_2.png
/heatmap_3.png
/image.png
/layer.png
/project_video_output_rect.mp4
/sub_image.png
/sub_image_ori.png
/test.png
/window.png
